Repository Brycewetzel/ouroboros-network, changes with the owners that .github/CODEOWNERS names for each.
All owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @njd42, @peterwthomson, @dnadales, @input-output-hk/devops, @newhoggy

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Marcin Karl    Armando Nick     Pawe≈Ç        "Higher ups"
*                                  @coot  @karknu @bolt12 @nfrisby @EncodePanda @input-output-hk/consensus-superowners @input-output-hk/network-superowners

# Network Team

docs                               @coot @karknu @bolt12 @njd42 @peterwthomson @input-output-hk/network-superowners

io-sim                             @coot @input-output-hk/network-superowners

network-mux                        @coot @karknu @input-output-hk/network-superowners
ntp-client                         @coot @input-output-hk/network-superowners
typed-protocols                    @coot @input-output-hk/network-superowners
typed-protocols-examples           @coot @input-output-hk/network-superowners

ouroboros-network-framework        @coot @karknu @input-output-hk/network-superowners
ouroboros-network                  @coot @karknu @input-output-hk/network-superowners
ouroboros-network/wireshark-plugin @coot @karknu @input-output-hk/network-superowners
ouroboros-network-testing          @coot @karknu @input-output-hk/network-superowners

cardano-client                     @coot @input-output-hk/network-superowners

scripts/haddocs.sh                 @coot @input-output-hk/network-superowners
scripts/install.ps1                @coot @input-output-hk/network-superowners
scripts/test.sh                    @coot @input-output-hk/network-superowners

# Consensus Team

ouroboros-consensus/               @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-test/          @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-mock/          @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-mock-test/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byron/         @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byronspec/     @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-byron-test/    @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-shelley/       @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-shelley-test/  @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-cardano/       @nfrisby @dnadales @input-output-hk/consensus-superowners
ouroboros-consensus-cardano-test/  @nfrisby @dnadales @input-output-hk/consensus-superowners

# CICD

bors.toml                          @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
nix/                               @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
*.nix                              @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/                 @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

cabal.project.local.github-pages   @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners
.github/workflows/github-page.yml  @coot @newhoggy @input-output-hk/devops @input-output-hk/consensus-superowners @input-output-hk/network-superowners

updated diffusion pipelining design with agreed non-heretic approach, added additional context, refactored entire document
  .gitignore
  docs/diffusion-pipelining-design/block-diffusion-pipelining.tex
Owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @njd42, @peterwthomson

updated location for diff-piplining docs
  ouroboros-consensus/docs/diffusion-pipelining-design/block-diffusion-pipelining.tex
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Add Praos block header.
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Header.hs
Owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners

Bump to latest ledger.
  cabal.project
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/TPraos.hs
Owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners

Implement Praos Protocol.
  ouroboros-consensus-protocol/NOTICE
  ouroboros-consensus-protocol/ouroboros-consensus-protocol.cabal
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Common.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/VRF.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Views.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/TPraos.hs
Owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @dnadales

Rename TPraos->Protocol in Shelley package.
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Protocol.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Extract tcp_info for mux tcp bearer
  network-mux/network-mux.cabal
  network-mux/src/Network/Mux/Bearer/Socket.hs
  network-mux/src/Network/Mux/TCPInfo.hsc
  network-mux/src/Network/Mux/Trace.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

updated itemize to enumerate for clarity
  ouroboros-consensus/docs/diffusion-pipelining-design/block-diffusion-pipelining.tex
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Added prop_connection_manager_timeouts_enforced
  ouroboros-network-framework/ouroboros-network-framework.cabal
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Types.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Refactor: unify `bringUp...` and `stream...`
  ouroboros-consensus/src/Ouroboros/Consensus/Ledger/Basics.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Node/ProtocolInfo.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ImmutableDB/API.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

minor clarification to current process
  ouroboros-consensus/docs/diffusion-pipelining-design/block-diffusion-pipelining.tex
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

minor clarification to proposed process
  ouroboros-consensus/docs/diffusion-pipelining-design/block-diffusion-pipelining.tex
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

Clean: Further changes from CR
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners

WIP Abstract ShelleyBlock over protocol.
  cabal.project
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/Infra/ShelleyBasedHardFork.hs
  ouroboros-consensus-cardano-test/src/Test/ThreadNet/TxGen/Cardano.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Condense.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/Node.hs
  ouroboros-consensus-cardano/src/Ouroboros/Consensus/Cardano/ShelleyBased.hs
  ouroboros-consensus-cardano/tools/db-analyser/Block/Shelley.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Common.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Header.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/Praos/Views.hs
  ouroboros-consensus-protocol/src/Ouroboros/Consensus/Protocol/TPraos.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Examples.hs
  ouroboros-consensus-shelley-test/src/Test/Consensus/Shelley/Generators.hs
  ouroboros-consensus-shelley-test/src/Test/ThreadNet/Infra/Shelley.hs
  ouroboros-consensus-shelley-test/test/Test/Consensus/Shelley/Serialisation.hs
  ouroboros-consensus-shelley/ouroboros-consensus-shelley.cabal
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Eras.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Block.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Config.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Forge.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Inspect.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Integrity.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Ledger.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Mempool.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/NetworkProtocolVersion.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/PeerSelection.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Protocol.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Ledger/Query.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Common.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/Serialisation.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Node/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Abstract.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/Praos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/Protocol/TPraos.hs
  ouroboros-consensus-shelley/src/Ouroboros/Consensus/Shelley/ShelleyHFC.hs
Owners: @coot, @karknu, @bolt12, @nfrisby, @EncodePanda, @input-output-hk/consensus-superowners, @input-output-hk/network-superowners, @dnadales

Mimic SO_LINGER set with 0 interval channel close
  network-mux/src/Network/Mux/Bearer/AttenuatedChannel.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Refactored inboundGovernorLoop error handling
  ouroboros-network-framework/src/Ouroboros/Network/InboundGovernor.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Fix ConnectionManager finally handle
  ouroboros-network-framework/src/Ouroboros/Network/ConnectionManager/Core.hs
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Added diffusion multinode sim
  ouroboros-network-framework/test/Test/Ouroboros/Network/Server2.hs
  ouroboros-network/ouroboros-network.cabal
  ouroboros-network/src/Ouroboros/Network/Diffusion/P2P.hs
  ouroboros-network/test/Main.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node.hs
  ouroboros-network/test/Test/Ouroboros/Network/Diffusion/Node/NodeKernel.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet.hs
  ouroboros-network/test/Test/Ouroboros/Network/Testnet/Simulation/Node.hs
Owners: @coot, @karknu, @input-output-hk/network-superowners

Fix: Implemented design as agreed
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/ChainDB/Impl/LgrDB.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/InMemory.hs
  ouroboros-consensus/src/Ouroboros/Consensus/Storage/LedgerDB/OnDisk.hs
Owners: @nfrisby, @dnadales, @input-output-hk/consensus-superowners
